{% extends "_layout.html" %}
{% set page = 'list' %}

{% block content %}
  <p class="lede">
    Продаж квартир, зібрано з DIM.RIA, LUN, OLX, flombu та blago.
    Ціни зведено до долара за курсом НБУ, щоб оголошення можна було
    порівнювати між собою.
  </p>

  {% include "_summary.html" %}
  {% if warning %}<div class="warn">{{ warning }}</div>{% endif %}
  {% include "_filters.html" %}
  {% include "_table.html" %}
{% endblock %}

{% block scripts %}{% include "_scripts.html" %}{% endblock %}
